<mat-toolbar color="primary">
    <span href='#' routerLink="/">Ask.Me</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space">
    </span>


    <div [hidden]="!isLoggedIn">
        <button (click)='createSearch()' mat-button>Search</button>
        <button (click)='createChannel()' mat-button>New Channel</button>
        <button (click)='createPost()' mat-button>New Post</button>
        <button (click)='channelsList()' mat-button>Channels List</button>
        <button (click)='profile()' mat-button>Profile</button>
        <button (click)='logout()' mat-button>Logout</button>
    </div>
    <div [hidden]="isLoggedIn">
        <button (click)='navigateToLogin()' mat-button>Login</button>
        <button (click)='navigateToSignup()' mat-button>Sign Up</button>
    </div>

    <!-- <span>Right Aligned Text</span> -->
</mat-toolbar>
