<div>
<mat-card class="example-card" style="margin-left: 280px;margin-right: 280px;margin-top: 25px;margin-bottom: 25px; border-radius: .5rem!important;">
    <mat-card-header>
      <img src="assets/images/subscribedChannels.png" style="height: 80px;width: 80px;">
    </mat-card-header><br>
    <mat-card-header>
      <mat-card-title>
        <span>New Channel</span>
      </mat-card-title>
      <mat-card-subtitle><b>Please provide the name and details of the channel you wish to create.</b></mat-card-subtitle>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="submit()" >
    <mat-form-field style="width: 400px;margin-left: 18px">
      <mat-label>Channel Name</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="selChannelName" required></textarea>
    </mat-form-field>
    <br>
    <mat-form-field style="width: 400px;margin-left: 18px">
      <mat-label>Channel Description</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" formControlName="selChannelDescription"  id="tags" required></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button style="width: 100px;margin-left: 18px" [disabled]='!form.valid'>Create</button>
    </form>
  </mat-card>
</div>

