<mat-card>
    <mat-card-title>Login</mat-card-title>
<mat-card-content>

<form [formGroup]="form" (ngSubmit)="login()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>

  <p *ngIf="error" class="error">
    {{ error }}
  </p>

  <div *ngIf="submitted && form.controls.password.errors" class="error">
    <div *ngIf="form.controls.password.errors.required">Password is required</div>
    <div *ngIf="form.controls.password.errors.minlength">Password must be at least 4 characters</div>
  </div>

  <div *ngIf="submitted && form.controls.username.errors" class="error">
    <div *ngIf="form.controls.username.errors.required">username is required</div>
    <div *ngIf="form.controls.username.errors.minlength">username must be at least 4 characters</div>
  </div>

  <div class="button">
    <button type="submit" mat-button>Login</button>
  </div>

</form>
</mat-card-content>
</mat-card>